.contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .form-group {
    display: flex;
    gap: 16px;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .form-field.full-width {
    flex: 2;
  }
  
  label {
    margin-bottom: 4px;
  }
  
  input,
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: none !important;
  }
  
  .submit-button {
    background-color: #1F2833;
    color: #C5C6C7;
    border: 1px solid #66FCF1;
    width: 100px;
    height: 40px;
    font-size: 18px;
    align-self: flex-end;
    cursor: pointer;
    width: 100%;
    
  }
  
  .submit-button:hover {
    background-color: rgb(22, 22, 22) ;
    color: #C5C6C7;
  }
  
  .main-contact-container{
    justify-content: space-around;
  }

  .left-contact-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .form-field label{
    color: #C5C6C7;
  }

  .left-contact-container p{
    color: #C5C6C7;
  }

  .left-contact-container h2{
    color: #66FCF1;
  }