.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.form-group {
  display: flex;
  gap: 16px;
}

.form-field {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.form-field.full-width {
  flex: 2;
}

label {
  margin-bottom: 4px;
}

input,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: none !important;
}

.submit-button {
  background-color: #1F2833;
  color: #C5C6C7;
  border: 1px solid #66FCF1;
  width: 100px;
  height: 40px;
  font-size: 18px;
  align-self: flex-end;
  cursor: pointer;
  width: 100%;
  
}

.submit-button:hover {
  background-color: rgb(22, 22, 22) ;
  color: #C5C6C7;
}

.main-contact-container{
  justify-content: space-around;
}

.left-contact-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-field label{
  color: #C5C6C7;
}

.left-contact-container p{
  color: #C5C6C7;
}

.left-contact-container h2{
  color: #66FCF1;
}

.form-field input:hover{
  background-color: #c3f3f0;
}

.form-field textarea:hover{
  background-color: #c3f3f0;
}

.right-contact-container{
  width: 30% !important;
}

@media screen and (max-width: 857px) {
  .main-contact-container{
    flex-direction: column;
  }

  .right-contact-container{
    width: 67% !important;
    align-items: center;
    margin: auto;
  }

  .left-contact-container{
    align-items: center;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}