.main-home-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.left-home-container{
    background-color: aqua;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.right-home-container{
    background-color: aquamarine;
    width: 30%;
}