.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skills-card{
    margin: 10px 10px;
}

.second-techincal-skills-main-container{
    /* width: 30%; */
    display: flex;
    align-items: center;
    margin: 15px 15px;
    border-left: 1px solid #FFF;
    height: 415px;
}

.first-techincal-skills-main-container{
    width: 32%;
    display: flex;
    align-items: center;
    margin: 15px 15px;
    flex-direction: column;
    justify-content: center;
}

.first-techincal-skills-main-container p{
    text-align: justify;
    color: #C5C6C7;
}

.margin-svg{
    margin-right: 10px;
}

.pos-js{
    position: relative;
    top: 5px;
}

.pos-css{
    position: relative;
    top: 0.5px;
}

.pos-html{
    position: relative;
    top: 2.5px;
}


.third-techincal-skills-main-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 15px 15px;

}

.techincal-skills-main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.second-container-graph{
    width: 250px !important;
    height: 250px !important;
}

.single-skills{
    margin: 2px 2px;
}

.single-skills p{
    color: #C5C6C7;
    margin: 6px 6px;
    font-size: small;
}

.progress-bar{
    background-color: #66FCF1 !important;
}

.underline-hover {
    position: relative;
    display: inline-block;
}

.underline-hover h4::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #66FCF1;
    transition: all 0.5s;

}

.underline-hover h4:hover:before{
    width: 100%;
}


