@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.footer-comp{
    justify-content: space-between;
    background-color: #1F2833;
    color: #66FCF1 !important;
    padding: 8px 10px;
    height: 55px;
}

.right-side-of-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 122%;
    width: 10%;
}

.left-side-of-footer{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 887px){
    .footer-comp{
        flex-direction: column;
        align-items: center;
    }

    .right-side-of-footer{
        width: 15%;
    }
}

.margin-content{
    margin-left: 10px;
    margin-right: 10px;
}

.margin-l{
    margin-right: 10px;
}