.footer-comp{
    justify-content: space-between;
    background-color: #1F2833;
    color: #66FCF1 !important;
    padding: 8px 10px;
    height: 55px;
}

.right-side-of-footer{
    display: flex;
    justify-content: space-between;
    width: 10%;
}